*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.frm{
    height: 300px;
    width: 300px;
    /* border: 3px solid red; */
    margin-left: 650px;
    margin-top: 300px;
    background-color: #2E8B57;
}